.Home {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.backgroundImg img {
  position: absolute;
  width: 100%;

  /* margin-top: -15rem; */
}

.homeHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--home-text-color);
  gap: 1rem;
}
.homeTitle {
  font-weight: 700;
  font-size: var(--biggest-font-size);
  line-height: 41px;
  letter-spacing: 0.02em;
  color: #073a4d;
}
.homeSubtitle {
  font-size: var(--h2-font-size);
  line-height: 24px;
}
.homeContainer {
  z-index: 2;
  padding: 0 12.5rem;
  margin-top: 24vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.homeContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
}
.homeAbout {
  display: flex;
  gap: 3rem;
  /* justify-content: space-between; */
}
.accordSummary {
  display: flex;
  gap: 2rem;
}
.accordText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.accordTitle {
  font-size: var(--h1-font-size);
  font-weight: 700;
}
.accordSubtitle {
  font-size: var(--h1-font-size);
  color: #a8a8a8;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  background-color: #fff !important;
}
.accordText {
  padding-left: 2rem;
}
.QuarylogoContainer img:nth-child(1) {
  height: 1rem;
}
.chatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  transition: 0.5s;
}
.chatlogotitle {
  font-size: var(--smallest-font-size);
  font-weight: 600;
}
.chatContent {
  padding: 0.5rem 1rem;
}
.chatContent:hover {
  background: #edfafa;
  border: 1px solid #def6f5;
  border-radius: 6px;
}
.contactForm {
  width: 60vw;
  padding: 2rem 12rem;
  background-color: var(--container-color);
  border: 15px solid white;
  transition: 1s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.formTitle {
  font-size: var(--semi-font-size);
  margin-bottom: 1rem;
  cursor: pointer;
  animation-name: formTitle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.queryForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.queryForm input,
.queryForm textarea {
  background: #f7f7f7;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.queryForm label {
  font-size: var(--small-font-size);
  font-weight: 500;
}
.contactName,
.contactNumber {
  width: 100%;
}
.nameNumber label {
  display: flex;
}
.nameNumber {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 2rem;

  grid-template-columns: 1fr 1fr;
}

.query {
  width: 38rem;
  height: 5rem;
}
.formBtn {
  cursor: pointer;
  margin-left: 35%;
  margin-right: 50%;
  background: var(--second-buttonColor);
  border-radius: 3px;
  padding: 0.5rem 4rem;
  color: #ffff;
  font-weight: bold;
  border: none;
}
